# DJANGO
SECRET_KEY=<Ключ django>
ALLOWED_HOSTS=<Перечисленные адреса разделённые запятой и пробелом>
DJANGO_SETTINGS_MODULE=<video_platform.settings.dev, video_platform.settings.prod, video_platform.settings.test одно из перечисленных>
# CONNECT DJANGO DB
DB_ENGINE=<backend postgresql>
DB_NAME=<Название базы данных>
DB_USER=<Пользователь базы данных>
DB_PASSWORD=<Пароль от пользователя>
DB_HOST=<Название docker-compose контейнера с базой данных>
DB_PORT=<Порт контейнера с базой данных>
# DJANGO DOCKER
DOCKER_DJANGO_URL=<URL для django Dockerfile >
DOCKER_DJANGO_PORT=<Порт запуска django приложения>
DOCKER_LOCAL_DJANGO_PORT=<Локальный порт для подключения к приложению>
# POSTGRESQL DOCKER
POSTGRES_PORT_LOCAL=<Локальное подключение к базе данных>
POSTGRES_PORT=<Порт запуска базы данных>