# LOCAL

.env
parser_spimex/files/
video_platform/media/
async_task/app/src
async_task/sync_app/src
async_task/app/logs
async_task/sync_app/logs
fastapi_task/app/logs
fastapi_task/app/.coverage

# PYTHON

venv/

# IDE

**/.idea/
**/__pycache__/
