# fastapi
FASTAPI_HOST=<хост для фастапи>
FASTAPI_PORT=<порт для запуска>
FASTAPI_PORT_LOCAL=<порт для локального подключения>
# database
POSTGRES_USER=<пользователь БД>
POSTGRES_PASSWORD=<пароль от пользователя>
POSTGRES_DB=<название базы данных>
POSTGRES_PORT=<порт запуска БД>
POSTGRES_PORT_LOCAL=<порт для локального подключения>
# redis
REDIS_PORT=<редис порт запуска>
REDIS_PORT_LOCAL=<порт для локального подключения>
