# DOCKER COMPOSE DB
DB_USER=<Пользователь в БД>
DB_PASSWORD=<Пароль от пользователя>
DB_NAME=<Название БД>
DB_PORT=<Порт запуска>
DB_LOCAL_PORT=<Подключение по локальному порту к БД>
# DATABASE ALCHEMY
DATABASE_URL=postgresql+asyncpg://{user}:{password}@{host}:{port}/{db_name}
SYNC_DATABASE_URL=postgresql+psycopg2://{user}:{password}@{host}:{port}/{db_name}